@import "../constants";

.calculator {
  &__body {
    display: flex;
    justify-content: center;
  }

  &__wrapper {
    height: 876px;
    min-height: 876px;
    padding: 38px 31px;
    margin-top: 34px;
    background: rgba(255, 255, 255, .2);
    backdrop-filter: blur(2px);
    border-radius: $rounded-item;
  }

  &__items {
    padding: 44px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 800px;
    min-height: 800px;
    background: linear-gradient(155.23deg, #28518E 0%, #3A77D1 100%);
    border-radius: $rounded-item;
  }
}
