@import "../constants";

.calculator {
  &__body {
    display: flex;
    justify-content: center;
   // background: linear-gradient(122.76deg, #FFA2A2 4.09%, #FF7B7B 91.04%), #FFFFFF;

  }

  &__wrapper {
    min-width: 616px;
    max-width: 616px;
    height: 876px;
    min-height: 876px;
     padding: 38px 31px;
    margin-top: 34px;



    background: #FFFFFF;
  //  opacity: 0.2;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: $rounded-item;
  }

  &__x {
    padding: 44px 45px;


    height: 800px;
    min-height: 800px;

    background: linear-gradient(155.23deg, #28518E 0%, #3A77D1 100%);
  //  box-shadow: 0px 82px 158px rgba(0, 0, 0, 0.35), 0px 24.7206px 47.6324px rgba(0, 0, 0, 0.228056), 0px 10.2677px 19.7841px rgba(0, 0, 0, 0.175), 0px 3.71362px 7.1555px rgba(0, 0, 0, 0.121944);

    border-radius: $rounded-item;
  }
}
