.number {
    width: 100px;
   height: 80px;
}

.numpad {
  &__wrapper {
    width: 460px;
    height: 464px;

    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  &__item {
    height: 80px;
    font-size: 36px;
    line-height: 88px;
    font-weight: 500;
    &:hover {
      cursor: pointer;
    }
  }
}
