@import "../constants";

.result {
  min-height: 76px;
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__text {
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
    color: $main-white;
    text-align: right;
  }

  &__divider {
    border-top: 2px solid $main-white;
    min-width: 460px;
  }
}
